@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --article-shadow-normal: 0 4px 5px 10px rgba(0, 0, 0, 0.1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-size: 20px;
  line-height: 1.3;

  color: rgb(var(--foreground-rgb));
  background: #191919;
}

body.modal-open {
  height: 100vh;
  overflow-y: hidden;
}

@layer components {
  .svg-icon {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%)
      hue-rotate(93deg) brightness(103%) contrast(103%);
  }

  .svg-icon:hover {
    filter: brightness(0) saturate(100%) invert(23%) sepia(77%) saturate(6624%)
      hue-rotate(355deg) brightness(100%) contrast(124%);
  }

  .blog-card {
    @apply min-h-[420px] mx-5 my-3 rounded-lg relative bg-[#191919] w-[400px];

    transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
    overflow: hidden;
    border-radius: 20px;
    border: 0.18em solid transparent;
    z-index: 1;
  }

  .featured-card {
    @apply w-[800px];
  }

  .blog-card:hover {
    transform: translateY(-15px);
  }

  .blog-card:before {
    content: "";
    display: block;
    border-radius: 20px;
    position: absolute;
    background: inherit;
    top: 0.2em;
    left: 0.2em;
    right: 0.2em;
    bottom: 0.2em;
    z-index: -1;
  }
  .blog-card:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -2;
    transform: rotate(0deg);
    animation: gradient 2s ease alternate infinite;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
  }
  .blog-card:hover:after {
    -webkit-animation-play-state: running;
    animation-play-state: running;
  }
  .blog-card::after {
    background: #33cbeb;
    background: -moz-linear-gradient(
      left,
      #33cbeb 0%,
      #28d662 30%,
      #f07739 70%,
      #e3366b 100%
    );
    background: -webkit-linear-gradient(
      left,
      #33cbeb 0%,
      #28d662 30%,
      #f07739 70%,
      #e3366b 100%
    );
    background: linear-gradient(
      to right,
      #33cbeb 0%,
      #28d662 30%,
      #f07739 70%,
      #e3366b 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33cbeb',endColorstr='#e3366b',GradientType=1);
    background-size: 300% 300%;
  }
  @-webkit-keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 95% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 95% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .icon-star {
    position: relative;
    display: inline-block;
    width: 0;
    height: 0;

    margin-bottom: 1.2em;
    border-right: 0.3em solid transparent;
    border-bottom: 0.7em solid #000;
    border-left: 0.3em solid transparent;
    /* Controlls the size of the stars. */
    font-size: 12px;
  }
  .icon-star:before,
  .icon-star:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 0.6em;
    left: -1em;
    border-right: 1em solid transparent;
    border-bottom: 0.7em solid #000;
    border-left: 1em solid transparent;
    transform: rotate(-35deg);
  }
  .icon-star:after {
    transform: rotate(35deg);
  }

  .nav-mobile-overlay {
    @apply flex flex-col justify-between z-30 items-center fixed left-1/2 -translate-x-1/2  bg-black/90  rounded-lg backdrop-blur-md py-32;

    width: 100vw;
    height: calc(100vh - 104px);
  }
}
